body {
    margin: 0;
    background-color: #294e59;
    color: white;
    padding-top: 20px;
    font-family: 'Indie Flower', cursive;
}

.bookmarks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#extension-title {
    font-size: 35px;
}

.bookmark-row {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.bookmark {
    background-color: #366f80;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgb(51, 50, 50);
}

.bookmark:hover {
    background-color: #468fa5;
    box-shadow: 0px 0px 10px rgb(51, 50, 50);
}

.bookmark-title {
    margin: 0;
    font-size: 18px;
}